<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <typeAliases>
      <typeAlias type="com.mealmaker.babiyo.order.model.OrderDto"   alias="orderDto" />
      <typeAlias type="com.mealmaker.babiyo.order.model.OrderDetailDto"   alias="orderDetailDto" />
      <typeAlias type="com.mealmaker.babiyo.member.model.MemberDto" alias="memberDto" />
      <typeAlias type="com.mealmaker.babiyo.product.model.ProductDto" alias="productDto" />
      <typeAlias type="com.mealmaker.babiyo.review.model.ReviewDto" alias="reviewDto" />
      <typeAlias type="com.mealmaker.babiyo.cart.model.CartDto" alias="cartDto" />
      <typeAlias type="com.mealmaker.babiyo.inquiry.model.InquiryDto" alias="inquiryDto" />
      <typeAlias type="com.mealmaker.babiyo.favorite.model.FavoriteDto" alias="favoriteDto" />
      <typeAlias type="com.mealmaker.babiyo.notice.model.NoticeDto" alias="NoticeDto" />
      <typeAlias type="com.mealmaker.babiyo.notice.model.NoticeImageDto" alias="NoticeImageDto" />
   </typeAliases>
</configuration>
